# Composer - не коммитим зависимости, только файл конфигурации
vendor/


# WordPress/Системное
node_modules/
.DS_Store
Thumbs.db
*.log
error_log

# Инструменты разработки и тесты
.phpunit.result.cache
/tests/_output/
/tests/_support/_generated/
coverage/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

repomix-output.xml
.repomixignore
